<div class="container mt-5">
    <div class="row mb-5">
      <div class="col-md-6">
        <h3>EVENTS</h3>
      </div>
      <div class="col-md-6 text-end">
        <button (click)="onAddEventClick()" class="btn me-2">Add Event</button>
        <app-event-form *ngIf="showForm" (onCancel)="hideForm()"></app-event-form>
      </div>
    </div>
      <table class="table">

          <tr>
            <th>Title</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Action</th>
          </tr>
          <tr>
            <td>Jupiler Pro League</td>
            <td>XX-XX-XXXX</td>
            <td>XX-XX-XXXX</td>
            <td>
              <button class="btn me-2">Edit</button>
              <button class="btn me-2">Remove</button>
            </td>
          </tr>
        </table>       
  </div>
