<div class="container mt-5">
    <div class="row mb-5">
      <div class="col-md-6">
        <h3>EVENTS</h3>
      </div>
      <div class="col-md-6 text-end">
        <button (click)="onAddEventClick()" class="btn me-2">Add Event</button>
        <app-event-form *ngIf="showForm" (onCancel)="hideForm()"></app-event-form>
      </div>
    </div>

      <table class="table">
        <ng-container *ngFor="let event of events">
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <a href=""><h4>{{event.name}}</h4></a> 
                <button class="btn ms-2">Edit</button>
                <button class="btn ms-2">Add Game</button>
                <button class="btn ms-2">Remove</button>
              </div>

            </td>
          </tr>           
          <th>Game</th>
          <th>Start</th>
          <th>End</th>
          <th>Score</th>

          <tr *ngFor="let game of event.games">
            
            <td>{{game.name}}</td>
            <td>{{game.startTimeGame | date:'yyyy-MM-dd HH:mm'}}</td>
             <td>{{game.endTimeGame | date:'HH:mm'}}</td>
              <td>{{game.team1Score}} - {{game.team2Score}}</td>
              <button class="btn me-2">Edit</button>
              <button class="btn me-2">Remove</button>
          </tr>
        </ng-container>
        </table>       
  </div>
