<form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="event-name" class="form-label">Event Name</label>
      <input type="text" class="form-control" id="event-name" name="event-name" required [(ngModel)]="eventName">
    </div>
    <div class="mb-3">
      <label for="event-logo" class="form-label">Logo (url)</label>
      <input type="logo" class="form-control" id="event-logo" name="event-logo" required [(ngModel)]="eventLogo">
    </div>

    <button type="submit" class="btn me-2">Confirm</button>
    <button type="cancel" class="btn me-2" (click)="onCancelClick()">Cancel</button>
  </form>
  
