<div class="container mt-5">
    <div class="mb-5">
        <table class="table">
            <h3>Event: current event</h3>
            <tr>
              <th>Game</th>
              <th>Home Team</th>
              <th>Away Team</th>
              <th>Bet</th>
            </tr>
            <tr>
              <td>game name</td>
              <td>home team</td>
              <td>away team</td>
              <td>
                <button class="btn me-2">Bet on Home</button>
                <button class="btn">Bet on Away</button>
              </td>
            </tr>
          </table>
          
    </div>

    
    <div *ngIf="!registerMode" style="text-align: center;">
        <h1>Test your luck</h1>
        <p class="lead">Sign up to bet on games and much more!</p>
        <div class="text-center">
            <button class="btn btn-lg me-2" (click)="registerToggle()">Register</button>
            <button class="btn btn-lg">Learn more</button>
        </div>
    </div>

    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register-form (cancelRegister)="cancelRegisterMode($event)"></app-register-form>
            </div>
        </div>
    </div>
</div>