.btn {
    background-color: #ffc438;
}

.btn:hover {
    background-color: #d99a08;
}

.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

.table {
    border-color: black;
    border-width: 50;
}

h3 {
    margin-top: 50px;
  }