


<div class="container mt-5">

    <div class="mb-5">

        <table class="table">
          <h3>COMPANIES</h3>
          <tr>
            <th>Logo</th>
            <th>Name</th>
            <th>Members</th>
          </tr>
          <tr  *ngFor="let company of companies">
            <img src="https://via.placeholder.com/40x40.png?text=Company+Logo" alt="">
            <td>{{company.name}}</td>
            <td>{{company.members.length}}</td>
            <td>
              <button class="btn me-2" [routerLink]="'/companies/'+company.id">View Company</button>
            </td>
          </tr>
          <h3>CURRENT EVENTS</h3>
          <ng-container *ngFor="let event of events">
            <tr>
              <td>{{event.name}}</td>
              <td>
                <button class="btn me-2">View</button>
              </td>
            </tr>
            <tr *ngFor="let game of event.games">
              <td></td>
              <td>{{game.name}} - {{game.startTime}} - {{game.endTime}} - {{game.team1Score}}-{{game.team2Score}} - <button class="btn me-2">Place Bet</button></td>
            </tr>
          </ng-container>
          </table>       
    </div>

    
    <div *ngIf="!registerMode" style="text-align: center;">
        <h1>Test your luck</h1>
        <p class="lead">Sign up to bet on games and much more!</p>
        <div class="text-center">
            <button class="btn btn-lg me-2" (click)="registerToggle()">Register</button>
            <button class="btn btn-lg">Learn more</button>
        </div>
    </div>

    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register-form (cancelRegister)="cancelRegisterMode($event)"></app-register-form>
            </div>
        </div>
    </div>
</div>