<div class="container">
    <div class="row">
      <div class="col-md-2">
        <img src="https://via.placeholder.com/150x150.png?text=Company+Logo" alt="{{ company.name }} Logo" class="img-fluid">
      </div>
      <div class="col-md-8">
        <h1>{{ company.name }}</h1>
        <p *ngIf="checkIsManager()">"only managers can see this"</p>
        <h2>Members:</h2>
        <ul class="list-group">
          <li *ngFor="let member of company.members" class="list-group-item">{{ member }}</li>
        </ul>
      </div>
    </div>
  </div>